Flask==3.0.3
pymongo==4.8.0
dnspython==2.6.1
Werkzeug==3.0.3
gunicorn==23.0.0
transformers==4.44.2
torch==2.5.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
bson==0.5.10
requests==2.32.3
python-dotenv==1.0.1
